<launch>
    <rosparam command="load" file="$(find rover)/scripts/launch/one_motor.yaml" />
    <node pkg="ros_phoenix" type="ros_phoenix_node" name="ros_phoenix" respawn="false" />
    <node pkg="ros_phoenix" type="falcon_motor_control_test_node" name="falcon_motor_control_test" respawn="false" output="screen"/>
</launch>