<?xml version="1.0"?>
<launch>

    <!-- start sensor-->            
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
      <arg name="publish_tf"        value="true"/>
      <!--arg name="base_name"         value="kinect2"/>
      <arg name="sensor"            value=""/>
      <arg name="base_name_tf"      value="kinect2"/>
      <arg name="fps_limit"         value="-1.0"/>
      <arg name="calib_path"        value="$(find kinect2_bridge)/data/"/>
      <arg name="use_png"           value="false"/>
      <arg name="jpeg_quality"      value="90"/>
      <arg name="png_level"         value="1"/>
      <arg name="depth_method"      value="default"/>
      <arg name="depth_device"      value="-1"/>
      <arg name="reg_method"        value="default"/>
      <arg name="reg_device"        value="-1"/>
      <arg name="max_depth"         value="12.0"/>
      <arg name="min_depth"         value="0.1"/>
      <arg name="queue_size"        value="5"/>
      <arg name="bilateral_filter"  value="true"/>
      <arg name="edge_aware_filter" value="true"/>
      <arg name="worker_threads"    value="4"/-->
  </include> 
  
  <arg name="database_path"     default="rtabmap.db"/>
  <arg name="rgbd_odometry"     default="true"/>
  <arg name="rtabmapviz"        default="false"/>
  <arg name="localization"      default="false"/>
  <arg name="simulation"        default="false"/>
  <arg     if="$(arg localization)" name="args"  default=""/>
  <arg unless="$(arg localization)" name="args"  default="--delete_db_on_start"/>
  <arg name="resolution" default="qhd" />

  <arg name="rgb_topic"   default="/kinect2/$(arg resolution)/image_color_rect"/>
  <arg name="depth_topic" default="/kinect2/$(arg resolution)/image_depth_rect"/>
  <arg name="camera_info_topic" default="/kinect2/$(arg resolution)/camera_info"/>

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
    <remap from="image"     to="/kinect2/qhd/image_depth_rect"/>
    <remap from="camera_info" to="/kinect2/qhd/camera_info"/>
    <remap from="scan" to="/scan"/>
    <param name="range_max" type="double" value="4"/>
    <param name="range_min" value="0.45"/>
    <param name="scan_height" value="10"/>
    <param name="output_frame_id" type="string" value="kinect2_base_link"/>
  </node>

  <!-- Navigation stuff (move_base) -->
  <include file="$(find drive)/launch/testing/includes/move_base.launch.xml"/>
  
  <!-- Mapping -->
  <include file="$(find drive)/launch/testing/rgbd_mapping_kinect2.launch">
    <arg name="resolution"        value="qhd"/>
  </include> 

</launch>
