<?xml version="1.0"?>
<launch>
	<include file="$(find rover)/launch/realsense.launch" respawn="true">
	</include>

	<include file="$(find rover)/launch/imu-gps.launch" respawn="true">
	</include>

	<!-- RTAB-map Node-->
	<include file="$(find rtabmap_ros)/launch/rtabmap.launch" respawn="true">
			<arg name="rtabmap_args"                value="--delete_db_on_start" />
			<arg name="rgb_topic"                   value="/camera/color/image_raw" />
			<arg name="depth_topic"                 value="/camera/aligned_depth_to_color/image_raw" />
			<arg name="camera_info_topic"           value="/rgb/camera_info" />
			<arg name="depth_camera_info_topic"     value="/camera/color/camera_info" />
			<arg name="approx_sync"                 value="false" />
			<arg name="rtabmapviz"                  value="false"/>
			<arg name="rviz"                        value="false"/>
	</include>
</launch>