<?xml version="1.0"?>
<launch>
    <group ns="rtabmap">
        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
            <remap from="rgb/image"         to="/rover/camera/camera/rgb/image_raw"/>
            <remap from="depth/image"       to="/rover/camera/camera/depth/image_raw"/>
            <remap from="rgb/camera_info"   to="/rover/camera/camera/rgb/camera_info"/>
            <remap from="rgbd_image"        to="rgbd_image"/> <!--Output-->

            <param name="approx_sync"       value="true"/>
        </node>

        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
            <param name="Rtabmap/DetectionRate"     value="10"/>
            <param name="frame_id"          type="string"   value="base_link"/>
            <param name="subscribe_depth"   type="bool"     value="false"/>
            <param name="subscribe_rgb"     type="bool"     value="false"/>
            <param name="subscribe_rgbd"    type="bool"     value="true"/>
            <param name="queue_size"        type="int"      value="10"/>
            <param name="visual_odometry"   type="bool"     value="false"/>

            <remap from="odom"              to="/rover/odometry/filtered"/>
            <remap from="rgbd_image"        to="rgbd_image"/>

            <!--RTAB Map's parameters -->
            <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
            <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
            <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
        </node>
    </group>
</launch>


            
