<?xml version="1.0"?>
<launch>
	<arg name="ns" default="/imu" />

	<!-- Inertial-Sense-ROS https://github.com/inertialsense/inertial_sense_ros -->
	<group ns="$(arg ns)">
		<node pkg="inertial_sense" type="inertial_sense_node" name="inertial_sense_node" respawn="true"> 
			<param name="stream_INS"           value="false" />
			<param name="stream_IMU"           value="true" />
			<param name="stream_baro"          value="true" />
			<param name="stream_mag"           value="true" />
			<param name="stream_preint_IMU"    value="true" />
			<param name="stream_GPS"           value="false" />
			<param name="publishTf"            value="false" />
			<!-- <remap from="$(arg ns)/imu"        to="/rtabmap/imu"/> -->
		</node>
	</group>

	<!-- IMU Filter http://wiki.ros.org/imu_complementary_filter -->
	<node pkg="imu_complementary_filter" type="complementary_filter_node" name="complementary_filter_node" respawn="true"> 
		<param name="use_mag"                  value="false" />
		<param name="publish_tf"               value="false" />
		<remap from="$imu/data_raw"        to="/camera/imu"/>
		<remap from="$(arg ns)/imu"        to="/rtabmap/imu"/>
	</node>



</launch>
