<?xml version="1.0"?>

<launch>
	
	   <group ns="planner">
	      <remap from="openni_points" to="/planner_cloud"/>
	      <remap from="map" to="/camera/rtabmap/proj_map"/>
	      <remap from="move_base_simple/goal" to="/planner_goal"/>
	
	      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		 <rosparam file="$(find rover_erc)/launch/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
	      	 <rosparam file="$(find rover_erc)/launch/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		 <rosparam file="$(find rover_erc)/launch/config/local_costmap_params.yaml" command="load" />
		 <rosparam file="$(find rover_erc)/launch/config/global_costmap_params.yaml" command="load" />
		 <rosparam file="$(find rover_erc)/launch/config/base_local_planner_params.yaml" command="load" />
	      </node>
	   </group>

 	
	<group ns="camera">
		<node pkg="nodelet" type="nodelet" name="stereo_nodelet"  args="manager"/>
 		<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
              	  <remap from="left/image_raw"    to="left/image_raw_color"/>
              	  <remap from="right/image_raw"   to="right/image_raw_color"/>
              	  <param name="disparity_range" value="200"/>
                </node>
		<!-- ZED Wrapper Node-->
		<include file="$(find zed_wrapper)/launch/zed_camera.launch">
		  <arg name="svo_file"            	value="" />
		  <arg name="camera_model"        	value="0" />
		  <arg name="serial_number"       	value="0" /> 
		  <arg name="resolution"          	value="2" />
		  <arg name="frame_rate"          	value="30" />
		  <arg name="verbose"             	value="true" />
		  <arg name="pose_frame"          	value="map" />
		  <arg name="odometry_frame"      	value="odom" />
		  <arg name="publish_tf"            	value="false" />
		</include>

		<!-- RTAB-map Node-->
		<include file="$(find rtabmap_ros)/launch/rtabmap.launch">
		  <arg name="rtabmap_args"		value="--delete_db_on_start" />
		  <arg name="depth_topic"             	value="/camera/depth/depth_registered" />
		  <arg name="frame_id"                  value="zed_camera_center" />
		  <arg name="approx_sync"		value="false"/>
		  <arg name="rtabmapviz"		value="false"/>
		  <arg name="rviz"			value="true"/>
		</include>
		

 	      <!-- Generate a point cloud from the disparity image -->
	      <node pkg="nodelet" type="nodelet" name="disparity2cloud" args="load rtabmap_ros/point_cloud_xyz stereo_nodelet">
		 <remap from="disparity/image"       to="disparity"/>
		 <remap from="disparity/camera_info" to="right/camera_info"/>
		 <remap from="cloud"                to="/camera/rtabmap/cloud_obstacles"/>
		 
		 <param name="voxel_size" type="double" value="0.05"/>
		 <param name="decimation" type="int" value="4"/>
		 <param name="max_depth" type="double" value="4"/>
	      </node>

	      <!-- Create point cloud for the local planner -->
	      <node pkg="nodelet" type="nodelet" name="obstacles_detection" args="load rtabmap_ros/obstacles_detection stereo_nodelet" output="screen">
		 <remap from="cloud" to="/camera/rtabmap/cloud_obstacles"/>
		 <remap from="obstacles" to="/planner_cloud"/>

		 <param name="frame_id" type="string" value="zed_camera_center"/>
		 <param name="map_frame_id" type="string" value="map"/>
		 <param name="Grid/MinClusterSize" type="int" value="20"/>
		 <param name="Grid/MaxObstacleHeight" type="double" value="0.4"/>
	     </node>

	</group>
	



	
</launch>
